.px.menu {
    --menuHeight: fit-content;
    --mS1C: linear-gradient(30deg, #11998e, #38ef7d) !important;
    --mS1H1C: rgba(80, 236, 138, 0.5);
    --mS1H2C: #38ef7d50;
    --mS1H3C: #38ef7d20;

    --mS2C: #ffffff;

    --mS3C: #f8f8f8;
    --mS3H1C: rgba(240, 240, 240, 0.87);
    --mS3H2C: rgba(240, 240, 240, 0.27);

    --mS2LBC: #1781e9;
    --mS2LBHC: #3996f1;
    --mS2RBC: #91c920;
    --mS2RBHC: #a4da37;

    --mTextC: #242424;
    --mTextHoverC: #0bb5a7;
    --mHoverC: #ffffff;
    --mSubmC: #ffffff;

    height: var(--menuHeight);
    background: var(--mS2C);
    box-shadow: 0 0 15px 0 rgba(74, 74, 74, 0.6);
    z-index: 50;
    position: relative;
    width: 100%;
    padding-top: clamp(10px, 5%, 30px);

}

.m-app-name {
    font-size: clamp(16px, 14vh, 28px) !important;
    transform: scaleY(1.15);
    font-weight: 600 !important;
    font-family: 'Audiowide', cursive !important;
    color: #ffffff !important;
    padding: 0;
    margin: 0;
}

.section1, .section2 {
    width: 100%;
    padding-right: clamp(20px, 10%, 50px);
    padding-left: clamp(20px, 10%, 50px);
    background: var(--mS2C);
}

.section1 {
    padding-bottom: 20px;
}

.user-section {
    height: 100% !important;
}

.section2 {
    /*padding-bottom: 5px;*/
    position: sticky;
}

.menu .m-search-input {
    border-radius: 20px !important;
}

.menu .m-search-input > input {
    min-width: 360px !important;
    border-radius: 20px !important;
}

.menu .search-icon {
    font-size: 1.3em !important;
}

.px.menu .profile-icon > img {
    cursor: pointer;
    width: 35px !important;
    max-width: 35px !important;
    margin: 10px 5px !important;
    height: 100% !important;
}

.px.menu .profile-icon h5 {
    font-size: 1.08em !important;
}

.px.menu .profile-icon h6 {
    font-size: 0.75em !important;
}


.px.menu .profile-icon {
    height: var(--menuHeight) !important;
    width: fit-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--globalFont) !important;
}


.menu .ui.item.simple.dropdown > i {
    display: none;
}


.menu .menu.transition {
    border-top: 0 !important;
    border-radius: 0 !important;
    padding: 12px 20px;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    animation: 1000ms showMenuDropdown !important;
}

@keyframes showMenuDropdown {
    0% {
        transform: scale(0, 0) !important;
    }
    100% {
        transform: scale(1, 1) !important;
    }
}

.menu .ui.item.simple.dropdown:hover {
    background: white;
    color: var(--mTextHoverC) !important;
}

.menu-item:hover > span {
    background: white;
    color: var(--mTextHoverC) !important;
}

.menu-item {
    font-family: var(--globalFont) !important;
    font-size: 0.88em !important;
    padding: 4px;
    text-align: initial;
}

.menu-item > span {
    font-family: var(--globalFont) !important;
    font-size: 1em !important;
    color: #3d3e3f !important;
}

.items-menu {
    height: 55px !important;
}

.items-menu > div {
    height: 55px !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1em !important;
    font-family: var(--globalFont) !important;
    font-weight: 900 !important;
}


.menu .menu.transition.right {
    padding: 0 !important;
    left: -3vh !important;
}

@media only screen and (max-width: 1032px) {
    .menu .menu.transition.right {
        left: -12vh !important;
    }
}

.menu .menu.transition.right > div:nth-child(1) {
    padding: 20px 45px !important;
}

.menu .menu.transition.right > div:nth-child(2) {
    padding: 10px 10px !important;
}

.menu .menu.transition.right > div:nth-child(2) span {
    font-size: 1.1em !important;
}

.menu .menu.transition.right > div:nth-child(2) i {
    font-size: 1.0em !important;
    color: #3d3e3f !important;
}


.menu .menu.transition.right > div:nth-child(2) > a:hover i {
    color: var(--mTextHoverC) !important;
}


.menu .u-menu-header {
    background: white !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: fit-content !important;
    border-bottom: 0.08em solid #3d3e3f80 !important;
    margin-bottom: 5px !important;
    padding: 0 !important;
}

.menu .u-menu-header h5 {
    font-size: 0.8em !important;
}

.mobile-button {
    background: white !important;
    font-size: 1.2em !important;
}

.mobile-button:hover {
    color: var(--mTextHoverC) !important;
}

.auth-r-menu .ui.header {
    font-family: 'Maven Pro', sans-serif !important;
    color: #3d3e3f !important;
}

.px.menu .buttons {
    border-radius: 25px !important;
    overflow: hidden !important;
}

.px.menu .buttons > a > button {
    font-family: 'Maven Pro', sans-serif !important;
    border-radius: 0 !important;
    height: 30px !important;
    min-height: 30px !important;
    min-width: 50px !important;
    text-align: center !important;
    font-size: 0.8rem;
    color: #fff !important;
}

/* Register Button */
.px.menu .buttons > a:nth-child(1) > button {
    background: var(--mS2RBC) !important;
}

.px.menu .buttons > a:nth-child(1) > button:hover {
    background: var(--mS2RBHC) !important;
}

/* Login Button */
.px.menu .buttons > a:nth-child(2) > button {
    background: var(--mS2LBC) !important;
}

.px.menu .buttons > a:nth-child(2) > button:hover {
    background: var(--mS2LBHC) !important;
}

.menu .auth-r-menu .menu.transition.right {
    padding: -10px !important;
    left: -22vh !important;
}

.menu .auth-r-menu .menu.transition.right > div {
    padding: 20px 20px !important;
}