* {
    --globalFont: 'Maven Pro', sans-serif;
}

.ui.input {
    border-radius: unset;
}

.ui.input > input {
    border-radius: unset;
}

.ui.error.message {
    border-radius: unset !important;
}

.card-image:after {
    content: '';
    width: 120px !important;
    height: 120px !important;
    background: #1c75a2;
}

.global-f {
    font-family: var(--globalFont) !important;
}

.button-list[dir="rtl"] {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row-reverse !important;
}

.ui.star.rating {
    width: fit-content !important;
}

.ui.star.rating .icon {
    text-shadow: none !important;
    outline: none !important;
}

.ui.star.rating .icon:focus {
    text-shadow: none !important;
    outline: none !important;
}


.grey-text {
    color: #404142 !important;
    font-family: 'Audiowide', cursive !important;
}
