.profile-content-box {
    padding-left: 30px;
    width: 100%;
    padding-right: 30px;
    padding-top: 10px;
}

.profile-container {
    padding-top: clamp(20px, 15%, 50px);
    padding-left: clamp(10px, 5%, 30px);
    padding-right: clamp(10px, 5%, 30px);
}

.p-max-text {
    max-width: 90%;
}

.link-circular-btn {
    background: #f4f4f480;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: 600ms;
}

.link-circular-btn:hover {
    transform: translateY(-5px);
    background: #f4f4f4;
}

.link-circular-btn i{
    margin-top: 0;
    font-size: 1.25em;
    margin-left: 2px;
    color: #3d3e3f;
}